h1 {
    background-color: rgb(70, 71, 71);;
    text-align: center;
    width: 100%;
    padding: 10px;
    color: white;
    margin-bottom: 0px;
}

h2 {
    margin: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

h4 {
    margin-top: 5px;
    margin-bottom: 10px;
}

.border {
    border-style: solid;
    height: 270px;
    padding: 10px;
    margin: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.fiveDay {
    margin-bottom:0px;
   
}

.left {
    background-color: rgb(247, 247, 247);
    padding: 20px;
    padding-top: 0px;
    height: 500px;
    margin-left: 5px;
    margin-right: -5px;
}

.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 1px;
}

.btn:hover {
    background-color: dodgerblue;
    outline: solid 3px rgb(145, 200, 255);
  }

  .humidity {
    padding: 10px;
  }

  .temp{
    padding: 10px;

  }

  .wind{
    padding: 10px;

  }

  .uvi{
    padding: 10px;

  }

  .forecast {
      background-color: dodgerblue;
      padding: 10px;
      margin: 10px;
      margin-top: 0px;
  }

  .dayPlus1 {
      margin-left: 20px;
  }

  #weatherIcon {
      padding-top: 10px;
      padding-left: 0px;
      margin-left: 0px;
  }

  li {
      padding: 15px;
      padding-left: 20px;
      padding-right: 300px;
      text-transform: capitalize;
      border-style:solid;
      border-color: lightgray;
      margin-left: -25px;
      font-size: 17px;
      background-color: white;
  }

